<h2>List</h2>

<label class="col-md-1">Name filter</label><input [(ngModel)]="term" (input)="search()" />
<table class = "table table-bordered">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Created</th>
    <th>Modified</th>
    <th></th>
  </tr>
    <tr *ngFor="let sticker of stickers$ | async" >
      <td>
        <span class="badge">{{sticker.id}}</span>
      </td>
      <td>
          <a routerLink="/detail/{{sticker.id}}">{{sticker.name}}</a>
      </td>
      <td>
        {{sticker.createdAt}}
      </td>
      <td>
        <label>{{sticker.modifiedAt}}</label>
      </td>
      <td>
        <button class="btn btn-danger" title="delete sticker"
            (click)="delete(sticker.id)">Remove</button>
      </td>
    </tr>
</table>